.container {
  width: 100%;
  display: flow-root;

}
.btn {
  float: right;
  width: 100px;
  height: fit-content;
  margin: 10px;
}
.content {
  float: right;
  display: inline-flex;
  & > * {
    display: inline;
  }
}

.title {
  text-align: right;
  padding-right: 10px;
}