.container {
  & > * {
    margin-bottom: 20px;
  }
}

.panel {
  display: flex;
  margin-bottom: 0;
  & > div {
    width: 150px;
    margin-right: 20px;
  }
}

.add {
  width: 120px;
}
.spinner {
  margin-left: 50%;
}

