.container {
  & > div > img, p:not(:last-child){ 
    margin-bottom: 20px;
  }
}
.item {
  display: flex;
  margin-bottom: 10px;
  & > div:nth-child(1) {
    width: 85px;
    font-weight: 600;
  }
}
.pic {
  height: 240px;
  width: auto;
}

.preview {
  margin-bottom: 0;
}

.edit {
  float: right;
}
.done {
  color: green;
}
